.content {
  grid-area: content;
  background-color: inherit;
  color: var(--spotify-text);
  display: grid;
  gap: var(--size);
  grid-template-columns: 2fr 1fr;
  section {
    background-color: var(--spotify-card);
  }
  aside {
    background-color: var(--spotify-card);
  }
}