:root {
  /* Colores Principales */
  --spotify-green: #1db954;
  --spotify-green-hover: #1ed760;
  --spotify-black: #191414;

  /* Colores de Fondo y Contenedores */
  --spotify-base: #121212;
  /* Fondo de la aplicación */
  --spotify-card: #181818;
  /* Fondo de las tarjetas de álbunes/playlists */
  --spotify-card-hover: #282828;
  /* Fondo de las tarjetas de álbunes/playlists al pasar el cursor */

  /* Texto y Elementos */
  --spotify-text: #ffffff;
  /* Color del texto principal */
  --spotify-text-secondary: #b3b3b3;
  /* Color del texto secundario */

  --size: .5rem;
  --template-columns: 350px 1fr 1fr;
  --template-rows: 4rem 1fr 4rem;
}

body {
  background-color: var(--spotify-base);
  color: var(--spotify-text);
  font-family: system-ui, sans-serif;
  display: grid;
  gap: var(--size);
  grid-template-columns: var(--template-columns);
  grid-template-rows: var(--template-rows);
  grid-template-areas: "titleTop titleTop titleTop"
    "sidebar content content"
    "player player player";
  height: 100vh;
  margin: 0;
  padding: var(--size);

}