:root {
  /* Colores Principales */
  --spotify-green: #1db954;
  --spotify-green-hover: #1ed760;
  --spotify-black: #191414;

  /* Colores de Fondo y Contenedores */
  --spotify-base: #121212;
  /* Fondo de la aplicación */
  --spotify-card: #181818;
  /* Fondo de las tarjetas de álbunes/playlists */
  --spotify-card-hover: #282828;
  /* Fondo de las tarjetas de álbunes/playlists al pasar el cursor */

  /* Texto y Elementos */
  --spotify-text: #ffffff;
  /* Color del texto principal */
  --spotify-text-secondary: #b3b3b3;
  /* Color del texto secundario */

  --size: .5rem;
  --template-columns: 350px 1fr 1fr;
  --template-rows: 4rem 1fr 4rem;
}
/* Fonts */
 @font-face {
        font-family: "CircularStd";
        src: url("/fonts/CircularStd-Medium.woff2") format("woff2");
        font-weight: 500;
        font-style: normal;
        font-display: swap;
      }

      @font-face {
        font-family: "CircularStd";
        src: url("/fonts/CircularStd-Book.woff2") format("woff2");
        font-weight: 400;
        font-style: normal;
        font-display: swap;
      }

      @font-face {
        font-family: "CircularStd";
        src: url("/fonts/CircularStd-Light.woff2") format("woff2");
        font-weight: 300;
        font-style: normal;
        font-display: swap;
      }

      @font-face {
        font-family: "CircularStd";
        src: url("/fonts/CircularStd-Bold.woff2") format("woff2");
        font-weight: 700;
        font-style: normal;
        font-display: swap;
      }

      @font-face {
        font-family: "CircularStd";
        src: url("/fonts/CircularStd-Black.woff2") format("woff2");
        font-weight: 900;
        font-style: normal;
        font-display: swap;
      }

body {
  background-color: var(--spotify-base);
  color: var(--spotify-text);
  font-family: "CircularStd", system-ui, sans-serif;
  display: grid;
  gap: var(--size);
  grid-template-columns: var(--template-columns);
  grid-template-rows: var(--template-rows);
  grid-template-areas: "titleTop titleTop titleTop"
    "sidebar content content"
    "player player player";
  transition: grid-template-columns 0.2s ease;
  height: 100vh;
  margin: 0;
  padding: var(--size);

}
body[data-sidebar="collapsed"] {
  --template-columns: 80px 1fr 1fr;
}
